h1 {
  font-weight: 600;
  font-size: 40px;
  margin: 20px 10px;
  margin-bottom: 30px;
}

input {
  width: 95%;
  margin-left: 20px;
}

.item-container {
  text-align: left;
  margin-left: 50px;
}

.btn-cont {
  min-width: 90px;
}

.todo-btn {
  margin: 15px 5px;
  align-items: center;
}
